*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

a{
    text-decoration: none;
}

header .all{
    background-color: #DDF1EB;
    padding: 1.5rem 0;
}

.all{
    display: flex;
    justify-content: space-between;
}

.all .right {
    margin-right: 5rem
}

.right i{
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.right i:hover{
    color: red;
}

.left span{
    margin-left: 5rem;
    font-size: 16px;
}

.center{
    margin-top: 3rem; 
}

.box img{
     width: 100%;    
}

.box{
    text-align: center;
    width: 30%;
    margin: auto;
}

hr{
    margin-top: 4rem;
}

.nav{
    margin-top: 5rem;
    text-align: center
}

.nav  a{
    margin-right: 4rem;
    color: black;
    font-size: 15px;
}

.nav i{
    margin-left: 30px;
    color: grey;
}


.gallery-all{
    display: flex;
    justify-content: space-between;
}

.box{

    margin-top: 30px;
    width: 23%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.box img{
    width: 100%;
    transition: 0.7s;
    filter: grayscale(.01)
}

.box img:hover {
      transform: scale(1.1)
}

.box1{
    width: 27.5% !important;
}

.box span{
    position: absolute;
    bottom: 30px;
    left: 45%;
    color: white;
    font-size: 11px;
}

.box h3{
    position: absolute;
    bottom: 60px;
    left: 20px;
    text-align: center;
    color: white;
    font-size: 21px;
}

.box p{
    position: absolute;
    bottom: 5px;
    left: 40%;
    color: white;
}




